  <form class="add_course ui form" method="post">{% csrf_token %}

	<div class="field">
		<h1>Add Course</h1>
	</div>
	<div class="field">
		<label for="course_name">Course Name</label>
		<div class="ui input focus four wide field">
			<input type="text" id="course_name" name="course_name" placeholder="Course Name">
		</div>
	</div>

	<div class="field">
		<label for="course_detail">Course Detail</label>
		<div class="ui input focus four wide field">
			<input type="text" id="course_detail" name="course_detail" placeholder="Course Detail">
		</div>
	</div>

	<div class="field">
		<div  name="button" class="ui primary button testclass2">Add Course</div>
	</div>
  </form>

  <script type="text/javascript">
    // alert("dsa")
    $(document).ready(function(){
      // alert("ads");
      $('.testclass2').on('click',function(e){
        alert("one");
        var course = document.getElementById("course_name").value;
        var detail = document.getElementById("course_detail").value;
        $.ajax({
          type:"POST",
              url: "/acad/add_course/",
              data:{
                course_name:course,
                course_detail:detail,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              }
        });
      });
    });

  </script>
